.beginner_logo{

    font-family: 'Hachi Maru Pop', cursive;

}

.beginner_footer_button{

    font-size:.6rem;

}


.beginner_footer{


    text-align: center; margin-top: 2rem;

}


.beginner_header{


    text-align:center;
    margin: 2rem 0;"

}